
@{
    ViewData["Title"] = "Check Your Email";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p>Password Reset link has been sent to your email . plz cheack your inboux :)</p>
        </div>
        <a href="https://mail.google.com/mail/u/0/#inboux">Your Inboux</a>
    </div>
</div>

@section ValidationScriptsSection {

    <partial name="_ValidationScriptsPartial" />

}

